<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.yymusic_website.dao.ListSongDao">
    <resultMap id="BaseResultMap" type="ListSong">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="song_id" jdbcType="INTEGER" property="songId"/>
        <result column="song_list_id" jdbcType="INTEGER" property="songListId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,song_id,song_list_id
    </sql>

    <insert id="addSong_To_List" parameterType="ListSong">
        insert into list_song
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="songId != null">
                song_id,
            </if>
            <if test="songListId != null">
                song_list_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="songId != null">
                #{songId},
            </if>
            <if test="songListId != null">
                #{songListId},
            </if>
        </trim>
    </insert>

    <delete id="deleteSong_From_List" parameterType="HashMap">
        delete from list_song
        where song_id=#{songId} and song_list_id=#{songListId}
    </delete>

    <!--<select id="searchSong_By_ListId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from song
        where  song_id in(select song_id
        from list_song where song_list_id=#{songListId})
    </select>-->

    <select id="searchSong_By_ListId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from list_song
        where song_list_id=#{songListId}
    </select>

    <select id="searchAll_ListSong" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from list_song
    </select>

    <select id="searchListSong_By_Id" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from list_song
        where id=#{id}
    </select>

    <update id="updateListSong" parameterType="ListSong">
        update list_song
        <set>
            <if test="songId != null">
                song_id=#{songId},
            </if>
            <if test="SongListId != null">
                song_list_id=#{songListId},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>
