<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.yymusic_website.dao.UserDao">
    <resultMap id="BaseResultMap" type="User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="phone_num" jdbcType="VARCHAR" property="phoneNum"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birth"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="profile_photo" jdbcType="VARCHAR" property="profilePhoto"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,sex,phone_num,email,birth,location,introduction,profile_photo,create_time,update_time
    </sql>

    <insert id="addUser" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phoneNum != null">
                phone_num,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="profilePhoto != null">
                profile_photo,
            </if>
                create_time,update_time,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="phoneNum != null">
                #{phoneNum},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="location != null">
                #{location},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            <if test="profilePhoto != null">
                #{profilePhoto},
            </if>
            now(),now(),
        </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="sex != null">
                sex=#{sex},
            </if>
            <if test="phoneNum != null">
                phone_num=#{phoneNum},
            </if>
            <if test="email != null">
               email=#{email},
            </if>
            <if test="birth != null">
                birth=#{birth},
            </if>
            <if test="location != null">
                location=#{location},
            </if>
            <if test="introduction != null">
                introduction=#{introduction},
            </if>
            <if test="profilePhoto != null">
                profile_photo=#{profilePhoto},
            </if>
                update_time=now(),
        </set>
        where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="Integer">
        delete from user
        where id=#{id}
    </delete>

    <select id="searchUser_By_Id" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id=#{id}
    </select>

    <select id="search_All_User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from user
    </select>

    <select id="searchUser_By_Name" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from user
        where name like #{name}
    </select>

    <select id="verifyUserPassword" parameterType="String" resultType="int">
        select count(*)
        from user
        where name=#{name} and password=#{password}
    </select>

</mapper>
